body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}
        .custom-button {
            background-color: #4CAF50; /* Vert */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
 }
.command {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.command h2 {
    margin-top: 0;
}

.command p {
    margin: 5px 0;
}

.command code {
    background-color: #f1f1f1;
    padding: 2px 4px;
    border-radius: 3px;
}

#backToTopBtn {
    display: none; /* Masqué par défaut */
    position: fixed; /* Position fixe, en haut de la page */
    bottom: 20px; /* 20px du bas */
    right: 30px; /* 30px de la droite */
    z-index: 99; /* S'assurer que le bouton est au-dessus des autres éléments */
    font-size: 18px; /* Taille de la police */
    background-color: #555; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 15px; /* Espacement intérieur */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
}

#backToTopBtn:hover {
    background-color: #333; /* Couleur de fond en survol */
}
