html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Centre le logo et ajoute de l'espace en dessous */
    animation: zoom 10s linear infinite; /* Applique l'animation */
}

/* Animation de rotation */
@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.custom-button {
    background-color: #4CAF50; /* Vert */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* Navigation */
nav {
    background-color: #444;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.section {
    padding: 80px 0;
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.features {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.feature {
    flex: 0 1 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 15px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature i {
    font-size: 3rem;
    margin-bottom: 20px;
    display: block;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1.1rem;
    color: #666;
}

.screenshot {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.screenshot img {
    max-width: 45%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.screenshot img:hover {
    transform: scale(1.05);
}

.guide, .faq {
    margin-top: 40px;
}

.guide h3, .faq h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.guide p {
    font-size: 1.1rem;
    color: #333;
    text-align: center;
}

.faq ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

.faq li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#backToTopBtn {
    display: none; /* Masqué par défaut */
    position: fixed; /* Position fixe, en haut de la page */
    bottom: 20px; /* 20px du bas */
    right: 30px; /* 30px de la droite */
    z-index: 99; /* S'assurer que le bouton est au-dessus des autres éléments */
    font-size: 18px; /* Taille de la police */
    background-color: #555; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 15px; /* Espacement intérieur */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
}

#backToTopBtn:hover {
    background-color: #333; /* Couleur de fond en survol */
}
